@use "variables";
@use "mixins";

.about-humanitarian {
  margin-top: 80px;
  margin-bottom: 80px;

  &__title {
    margin-bottom: 30px;
    font-size: 28px;

    @include mixins.respond(xl) {
      font-size: 42px;
    }
  }

  &__desc {
    @include mixins.respond(xl) {
      font-size: 18px;
    }
  }

  &__list {
    @include mixins.respond(xl) {
      font-size: 18px;
    }
  }
}
