html {
  font-size: 16px;
}

body {
  font-family:
    "Raleway",
    system-ui,
    -apple-system,
    "Segoe UI",
    Arial,
    sans-serif !important;
  font-weight: 400;
  color: #1b1f2a;
  margin: 0;
}

/* чтобы кнопки, инпуты и т.д. тоже наследовали шрифт */
button,
input,
select,
textarea {
  font-family: inherit;
}

// html {
//   font-size: 16px;
// }

// /* чтобы ВСЕ элементы наследовали один шрифт */
// * {
//   font-family: inherit;
// }

// body {
//   padding-top: 80px; /* фикс-меню */
//   color: $text;
//   font-family:
//     "Raleway",
//     system-ui,
//     -apple-system,
//     sans-serif;
//   font-weight: 400;
//   color: #1b1f2a;
// }
// /* Верхнее меню/навигация */
// .nav-link {
//   font-size: 20px;
//   font-weight: 500;
// }

// /* Главный заголовок (Hero) */
// .hero-title {
//   font-size: clamp(34px, 4.6vw, 72px);
//   font-weight: 800;
//   line-height: 1.08;
//   letter-spacing: -0.02em;
// }

// /* Подзаголовок */
// .hero-subtitle {
//   font-size: 18px;
//   font-weight: 400;
//   line-height: 1.55;
//   color: rgba(27, 31, 42, 0.65);
// }

// /* Кнопки */
// .hero-btn {
//   font-size: 20px;
//   font-weight: 700;
// }

// .section {
//   padding: 64px 0;
// }

// .section--light {
//   background: $light;
// }

// .section-title {
//   font-weight: 800;
//   letter-spacing: -0.02em;
// }

// .list-check {
//   list-style: none;
//   padding-left: 0;
//   margin: 0;

//   li {
//     position: relative;
//     padding-left: 26px;
//     margin-bottom: 10px;
//     color: $text;

//     &::before {
//       content: "✓";
//       position: absolute;
//       left: 0;
//       top: 0;
//       color: $blue;
//       font-weight: 800;
//     }
//   }
// }
