* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-main;
  color: $dark;
  background: #fff;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: $container;
}

.section-title {
  font-weight: 500;
  color: $dark;
}
