.brand-dot {
  width: 10px;
  height: 10px;
  background: $yellow;
  border-radius: 50%;
  display: inline-block;
}

.navbar .nav-link {
  font-weight: 600;
}

.navbar .btn-warning {
  font-weight: 700;
}
