.header-nav {
  padding-top: 16px;
  padding-bottom: 0;
}

.header-nav .navbar-nav .nav-link {
  font-size: 18px;
  color: rgba(27, 31, 42, 0.75);
  font-weight: 500;
  padding: 10px 6px;
}

.header-nav .navbar-nav .nav-link:hover {
  color: $dark;
}

.header-nav .navbar-nav .nav-link.is-active {
  color: #0d6efd;
  font-weight: 600;
}

/* Make burger icon visible */
.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}
