@use "variables";
@use "mixins";

// --- goals ---
.goals {
  background-color: variables.$color-blue;
  padding: 25px;
  border-radius: 30px;
  grid-area: 1 / 1 / 2 / 3;

  @include mixins.respond(xl) {
    padding: 56px;
    grid-area: 1 / 1 / 5 / 2;
  }
}

.goals-title {
  margin-bottom: 20px;
  font-size: 28px;

  @include mixins.respond(xl) {
    font-size: 42px;
  }
}

.goals-list {
  @include mixins.respond(xl) {
    font-size: 20px;
  }
}

.icon-marker {
  color: variables.$color-yellow;
}

.goals-photo-1 {
  grid-area: 2 / 1 / 3 / 2;
  @include mixins.respond(xl) {
    grid-area: 1 / 2 / 2 / 3;
    height: 100%;
  }
}
.goals-photo-2 {
  grid-area: 2 / 2 / 3 / 3;
  @include mixins.respond(xl) {
    grid-area: 1 / 3 / 2 / 4;
    height: 100%;
  }
}

.goals-photo-3 {
  grid-area: 3 / 1 / 4 / 3;
  @include mixins.respond(xl) {
    grid-area: 2 / 2 / 5 / 4;
    height: 100%;
  }
}

.goals-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  @include mixins.respond(xl) {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
  }
}

// --- possibilities ---
.possibilities {
  background-color: variables.$color-blue;
  padding: 25px;
  border-radius: 30px;
  z-index: 1;

  @include mixins.respond(xl) {
    width: 50%;
  }
}

.possibilities-title {
  margin-bottom: 30px;
  font-size: 28px;

  @include mixins.respond(xl) {
    font-size: 42px;
  }
}

.possibilities-list {
  @include mixins.respond(xl) {
    font-size: 20px;
  }
}

.membership {
  background-color: variables.$color-yellow;
  padding: 25px;
  border-radius: 30px;
  gap: 20px;

  @include mixins.respond(xl) {
    width: 50%;
  }
}

.membership-button {
  width: 100%;
  max-width: 410px;

  @include mixins.button(variables.$color-blue, variables.$color-white);
  height: 53px;
  font-size: 16px;

  &:hover {
    background-color: variables.$color-blue-hover;
  }

  @include mixins.respond(xl) {
    height: 58px;
    max-width: 592px;
  }
}

// --- partners ---
.partners-title {
  font-size: 28px;
  margin-top: 80px;
  margin-bottom: 20px;

  @include mixins.respond(xl) {
    font-size: 42px;
    margin-top: 100px;
    margin-bottom: 30px;
  }
}

.partners-card-yellow {
  background-color: variables.$color-yellow;
  height: 124px;

  &-border {
    background-color: variables.$color-yellow;
    border-top-left-radius: 30px;
    height: 124px;

    &-right {
      background-color: variables.$color-yellow;
      border-top-right-radius: 30px;
      height: 124px;
    }

    &-bottom {
      background-color: variables.$color-yellow;
      border-bottom-left-radius: 30px;
      height: 124px;
    }
  }
}

.partners-card-blue {
  background-color: variables.$color-blue;
  height: 124px;

  &-border {
    background-color: variables.$color-blue;
    border-top-right-radius: 30px;
    height: 124px;

    &-bottom {
      background-color: variables.$color-blue;
      border-bottom-left-radius: 30px;
      height: 124px;
    }
  }
}

.partners-sm {
  margin-bottom: 20px;
}

.partners-xl {
  margin-bottom: 30px;
}

.partners-button {
  @include mixins.button(transparent, variables.$color-black);
  border: 1px solid variables.$color-black;
  height: 53px;
  max-width: 350px;
  width: 100%;

  &:hover {
    border: 1px solid variables.$color-blue;
    color: variables.$color-blue;
  }

  @include mixins.respond(xl) {
    font-size: 18px;
    height: 47px;
    width: 275px;
  }
}

// --- team ---
.team {
  margin-bottom: 80px;

  @include mixins.respond(xl) {
    margin-bottom: 100px;
  }
}

.team-title {
  font-size: 28px;
  margin-bottom: 20px;

  @include mixins.respond(xl) {
    font-size: 42px;
    margin-bottom: 30px;
  }
}

.team-img {
  border-radius: 30px;
  height: auto;
  width: 100%;
  max-width: 220px;
}

.team-subtitle {
  margin-top: 10px;
  margin-bottom: 5px;
  @include mixins.respond(xl) {
    font-size: 20px;
    margin-top: 20px;
  }
}

.team-desc {
  @include mixins.respond(xl) {
    font-size: 18px;
  }
}

// --- projects ---
.projects-title {
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 28px;

  @include mixins.respond(xl) {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 42px;
  }
}

.projects-card {
  width: 100%;
  max-width: 220px;
  overflow: hidden;
  position: relative;
  border-radius: 30px;

  @include mixins.respond(xl) {
    max-width: 345px;
  }
}

.projects-yellow {
  background-color: variables.$color-yellow;
  width: 100%;
  max-width: 220px;
  height: 130px;

  @include mixins.respond(xl) {
    max-width: 345px;
    height: 200px;
  }
}

.projects-blue {
  background-color: variables.$color-blue;
  width: 100%;
  max-width: 220px;
  height: 130px;

  @include mixins.respond(xl) {
    max-width: 345px;
    height: 200px;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: start;
  justify-content: center;

  @include mixins.respond(xl) {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, auto);
  }
}

.projects-card-school {
  grid-area: 1 / 1 / 3 / 2;
  max-height: 200px;
  height: 100%;

  @include mixins.respond(xl) {
    grid-area: 1 / 1 / 3 / 2;
    max-height: 300px;
  }
}

.projects-yellow {
  grid-area: 1 / 2 / 2 / 3;

  @include mixins.respond(xl) {
    grid-area: 1 / 2 / 2 / 3;
  }
}

.projects-card-square {
  grid-area: 3 / 1 / 4 / 2;
  max-height: 130px;
  height: 100%;

  @include mixins.respond(xl) {
    grid-area: 3 / 1 / 4 / 2;
    max-height: 200px;
  }
}

.projects-card-library {
  grid-area: 2 / 2 / 4 / 3;
  max-height: 200px;
  height: 100%;

  @include mixins.respond(xl) {
    grid-area: 2 / 2 / 4 / 3;
    max-height: 300px;
  }
}

.projects-card-culture {
  grid-area: 4 / 1 / 5 / 2;
  max-height: 200px;
  height: 100%;

  @include mixins.respond(xl) {
    grid-area: 1 / 3 / 3 / 4;
    max-height: 300px;
  }
}

.projects-blue {
  grid-area: 5 / 1 / 6 / 2;

  @include mixins.respond(xl) {
    grid-area: 3 / 3 / 4 / 4;
  }
}

.projects-card-childrens {
  grid-area: 4 / 2 / 6 / 3;
  max-height: 350px;
  height: 100%;

  @include mixins.respond(xl) {
    grid-area: 1 / 4 / 4 / 5;
    max-height: 520px;
  }
}

// --- news ---
.news-title {
  font-size: 28px;
  margin-top: 80px;
  margin-bottom: 20px;

  @include mixins.respond(xl) {
    font-size: 42px;
    margin-top: 100px;
    margin-bottom: 30px;
  }
}

.news-cards {
  gap: 20px;
  margin-bottom: 20px;

  @include mixins.respond(xl) {
    margin-bottom: 60px;
  }
}

.card-img {
  border-radius: 30px;
  width: 100%;
  max-width: 220px;
  height: auto;
  max-height: 200px;
  object-position: top center;
}

.card-title {
  @include mixins.respond(xl) {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.card-sub {
  font-size: 12px;
  margin-bottom: 10px;
}

.card-desc {
  margin-bottom: 10px;

  @include mixins.respond(xl) {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.card-link {
  font-size: 12px;
}

.news-button {
  @include mixins.button(transparent, variables.$color-black);
  border: 1px solid variables.$color-black;
  height: 53px;
  max-width: 350px;
  width: 100%;
  margin-bottom: 80px;

  &:hover {
    border: 1px solid variables.$color-blue;
    color: variables.$color-blue;
  }

  @include mixins.respond(xl) {
    font-size: 18px;
    height: 47px;
    width: 275px;
    margin-bottom: 100px;
  }
}

// --- events ---
.events {
  margin-bottom: 80px;
  position: relative;
  background: variables.$color-white;
  overflow: visible;

  &::before {
    display: none;

    @include mixins.respond(xl) {
      display: block;
      content: "";
      position: absolute;
      border-radius: 50%;
      filter: blur(200px);
      opacity: 1;
      z-index: 0;
    }
  }

  &::before {
    display: none;

    @include mixins.respond(xl) {
      display: block;
      width: 355px;
      height: 355px;
      background: #ffe711;
      top: 300px;
      left: -109px;
    }
  }

  @include mixins.respond(xl) {
    margin-bottom: 100px;
  }
}

.events-title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 22px;

  @include mixins.respond(xl) {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 32px;
  }
}

.events-list {
  font-size: 20px;

  @include mixins.respond(xl) {
    gap: 20px;
  }
}

.events-icon-marker {
  color: variables.$color-blue;
}

// --- numbers ---
.numbers {
  margin-top: 80px;
  margin-bottom: 30px;
  position: relative;
  background: variables.$color-white;
  overflow: visible;

  &::before {
    display: none;

    @include mixins.respond(xl) {
      display: block;
      content: "";
      position: absolute;
      border-radius: 50%;
      filter: blur(200px);
      opacity: 1;
      z-index: 1;
    }
  }

  &::before {
    display: none;

    @include mixins.respond(xl) {
      display: block;
      width: 355px;
      height: 355px;
      background: #ffe711;
      top: 300px;
      left: -109px;
    }
  }
}

.numbers-title {
  margin-bottom: 30px;
  font-size: 28px;
}

.numbers-desc {
  margin-bottom: 20px;

  @include mixins.respond(xl) {
    font-size: 18px;
  }
}

.numbers-desc-bold {
  margin-bottom: 30px;

  @include mixins.respond(xl) {
    font-size: 30px;
  }
}

.numbers-cards-title {
  font-size: 28px;
}

// --- slider ---
.marquee {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  background-color: variables.$color-white;
  height: 76px;
  position: relative;
  z-index: 1;
  border-top: variables.$color-blue solid 5px;
  border-bottom: variables.$color-yellow solid 5px;

  @include mixins.respond(xl) {
    height: 88px;
  }
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee 18s linear infinite;
}

.marquee-item {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-right: 25px;
  font-size: 22px;
  white-space: nowrap;
  align-self: center;

  @include mixins.respond(xl) {
    font-size: 32px;
  }
}

.ua-flag {
  display: flex;
  flex-direction: column;
  width: 16px;
  height: 12px;
  align-self: center;
}

.ua-flag .blue {
  flex: 1;
  background-color: variables.$color-blue;
}

.ua-flag .yellow {
  flex: 1;
  background-color: variables.$color-yellow;
}

.marquee p {
  margin: 0;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

// --- video ---
.video-section {
  position: relative;
  background: variables.$color-white;
  overflow: visible;

  &::after {
    display: none;

    @include mixins.respond(xl) {
      display: block;
      content: "";
      position: absolute;
      border-radius: 50%;
      filter: blur(500px);
      opacity: 1;
      z-index: 1;
    }
  }

  &::after {
    display: none;

    @include mixins.respond(xl) {
      display: block;
      width: 355px;
      height: 355px;
      background: #1a7df0;
      top: 300px;
      left: 1000px;
    }
  }
}

.button-support {
  @include mixins.button(variables.$color-yellow, variables.$color-black);
  height: 53px;
  width: 220px;
}

.button-reports {
  @include mixins.button(transparent, variables.$color-black);
  border: 1px solid variables.$color-black;
  height: 53px;
  width: 220px;

  &:hover {
    border: 1px solid variables.$color-blue;
    color: variables.$color-blue;
  }
}

.video {
  padding-left: 0;
}

.video-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  min-height: 315px;
  border: 0;
  display: block;
}

.contacts {
  background-color: variables.$color-blue;
  padding-top: 30px;
  padding-bottom: 30px;

  @include mixins.respond(xl) {
    font-size: 18px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.contacts-title {
  font-size: 28px;
  margin-bottom: 20px;

  @include mixins.respond(xl) {
    font-size: 42px;
    margin-bottom: 30px;
  }
}

.contacts-icons {
  gap: 18px;
  margin-bottom: 10px;
  margin-top: 10px;

  @include mixins.respond(xl) {
    margin-bottom: 20px;
  }
}

.contacts-icon {
  color: variables.$color-yellow;
}

.contacts-icon-white {
  gap: 25px;
  margin-bottom: 20px;
}

.map {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  height: 200px;
  margin-bottom: 30px;
  display: block;
}

.footer-logo {
  margin-top: 80px;
  margin-bottom: 20px;
}

.footer-menu {
  margin-bottom: 30px;
}

.footer-list {
  --bs-gutter-y: 10px;
  --bs-gutter-x: 20px;
}

.footer-link {
  color: variables.$color-black;
  transition: 0.2s ease;

  &:hover {
    color: variables.$color-blue;
  }
}

.footer-xl {
  margin-top: 60px;
  margin-bottom: 85px;
  font-size: 18px;
}
