/* Error: There's already a module with namespace "variables".
 *     ,
 * 1   | @use "./variables" as variables;
 *     | =============================== original @use
 * ... |
 * 4   | @use "variables";
 *     | ^^^^^^^^^^^^^^^^ new @use
 *     '
 *   scss/_about.scss 4:1  @use
 *   scss/style.scss 8:1   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: There's already a module with namespace \"variables\".\a     \2577 \a 1   \2502  @use \"./variables\" as variables;\a     \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original @use\a... \2502 \a 4   \2502  @use \"variables\";\a     \2502  ^^^^^^^^^^^^^^^^ new @use\a     \2575 \a   scss/_about.scss 4:1  @use\a   scss/style.scss 8:1   root stylesheet";
}
